%h2.text-center Регистрация
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email"
  .form-group
    = f.label :username, "Логин"
    %br/
    = f.text_field :username, class: "form-control"
  .form-group
    = f.label :password, "Пароль"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} символов минимум)
    %br/
    = f.password_field :password, class: "form-control", autocomplete: "off"
  .form-group
    = f.label :password_confirmation, "Подтверждение пароля"
    %br/
    = f.password_field :password_confirmation, class: "form-control", autocomplete: "off"
  .form-group
    = f.fields_for :profile do |profile_form|
      .form-group
        = profile_form.label :surname, "Фамилия"
        = profile_form.text_field :surname, class: "form-control"
      .form-group
        = profile_form.label :name, "Имя"
        = profile_form.text_field :name, class: "form-control"
      .form-group
        = profile_form.label :patronymic, "Отчество"
        = profile_form.text_field :patronymic, class: "form-control"
      .form-group
        = profile_form.label :date_of_birth, "Дата рождения"
        = profile_form.date_field :date_of_birth, class: "form-control"
  .form-group
    %img.hidden.image_to_upload/
    %br/
    %br/
    = f.file_field :image, class: 'photo_upload'
  .actions
    = f.submit "Зарегистрироваться", class: "btn btn-primary"
= render "devise/shared/links"
