%h1 Настройки
= form_for current_user, url: profile_path do |f|
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#panel1"} Основные настройки
    %li
      %a{"data-toggle" => "tab", :href => "#panel2"} Безопасность
  .tab-content
    #panel1.tab-pane.fade.in.active
      %h3 Основные настройки
      %p
      .form-group
        = f.fields_for :profile do |profile_form|
          .form-group
            = profile_form.label :surname, "Фамилия"
            = profile_form.text_field :surname, class: "form-control"
          .form-group
            = profile_form.label :name, "Имя"
            = profile_form.text_field :name, class: "form-control"
          .form-group
            = profile_form.label :patronymic, "Отчество"
            = profile_form.text_field :patronymic, class: "form-control"
          .form-group
            = profile_form.label :date_of_birth, "Дата рождения"
            = profile_form.date_field :date_of_birth, class: "form-control"
        .form-group
          = f.label :email, "Email"
          %br/
          = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email"
        .form-group
          = f.label :username, "Логин"
          %br/
          = f.text_field :username, class: "form-control"
    #panel2.tab-pane.fade
      %h3 Безопасность
      %p
      .form-group
        = f.label :password, "Пароль"
        %i (оставьте пустым, если вы не хотите его менять)
        %br/
        = f.password_field :password, class: "form-control", autocomplete: "off"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            символом минимум
      .form-group
        = f.label :password_confirmation, "Подтверждение пароля"
        %br/
        = f.password_field :password_confirmation, class: "form-control", autocomplete: "off"
  .actions
    = f.submit "Обновить", class: "btn btn-primary"
