<h2>Создание профиля</h2>
<%= form_for :profile, url: new_profile_path(@profile) do |f| %>

  <div class="field">
    <%= f.label "Фамилия" %><br />
    <%= f.text_field :surname%>
  </div>

  <div class="field">
    <%= f.label "Имя" %><br />
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label "Отчество" %><br />
    <%= f.text_field :patronymic %>
  </div>

  <div class="field">
    <%= f.label "Дата рождения" %><br />
    <%= f.date_field :date_of_birth%>
  </div><br />

  <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>