
.profile-show
   .row
      .col-md-4.profile-avatar
         %p= link_to(image_tag(@user.image.thumb.url, alt: 'Image', :class => 'img-fluid rounded-circle'), @user.image.url, target: '_blank') if @user.image?
      .col-md-6.profile-info
         %p
         = @user.username
         - if current_user.id == @user.id
         = puts @user.id
            = link_to "Редактировать профиль", edit_user_registration_path
         %p Друзей | Еще чего то там
         %p= @profile.name
         - if current_user.id != @user.id
            %p= @profile.surname
         - if current_user.id == @user.id
            =link_to 'Добавить фото', new_posts_path(user_id: @user.id)
.profile-photo
   .row
      - @user.post.each do |post|
         .col-md-4.profile-photos
            = image_tag(post.image_post.thumb.url, :class => "img-index", height: "220px", weight: "220px")
            %p= post.text
            %hr


      .col-md-4
