<!DOCTYPE html>
<html>
  <head>
    <title>JDIgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <style>

    </style>
  </head>

  <body >

  <header class="nav navbar-default navbar-top ">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="navbar-brand">JDIgram</h5>
      <% if user_signed_in? %>
      <h5 class="navbar-brand">Вы вошли как: <%= current_user.login %></h5>
      <% end %>
      <nav class="my-2 my-md-0 mr-md-3">

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Найти">
            </div>
            <button type="submit" class="btn btn-default">Поиск</button>
          </form>
          <% end %>
          <li class="btn btn-outline-primary"><%= link_to root_path do %><i class="fa fa-home fa-fw"></i>
              <% end %>
              </li>
          <% if user_signed_in? %>
            <li class="btn btn-outline-primary"><%= link_to profile_show_path do %><i class="fa fa-user fa-fw"></i>
                <% end %>
              </li>
            <li class="btn btn-outline-primary">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
              <i class="fa fa-sign-out fa-fw"></i>
                <% end %>
            </li>
                <% else %>
                  <li class="btn btn-outline-primary">
                    <%= link_to new_user_session_path, class: "nav-link" do %>
                      <i class="fa fa-sign-in fa-fw"></i>
                    <% end %>
                  <li class="btn btn-outline-primary">
                    <%= link_to new_user_registration_path, class: "nav-link" do %>
                      <i class="fa fa-user-plus fa-fw"></i>
                    <% end %>
                  </li>
            <% end %>
        </ul>
      </nav>
    </div></br>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
